body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("https://picsum.photos/200/300?grayscale");
}

#conteiner {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

#conteiner1 {
    margin: 10px;
    border-radius: 5px;
    background-color: aliceblue;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border: 1px solid gray;
    box-shadow: 3px 3px 7px;
    padding: 10px;

}

.subdiv {
    border: 1px solid gray;

    /* margin: 20px; */
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 7px;
    width: 200px;
    text-align: center;
    margin-bottom: 15px;
}

.subdiv1 {
    border: 1px solid gray;

    margin: 2px;
    font-size: 30px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 7px;
    width: 100px;
    text-align: center;
    margin-bottom: 15px;
}


#eztc {
    display: flex;
    flex-direction: row;
}

#btns {
    display: flex;
    justify-content: space-around;
    width: 300px;
    margin: 10px;
}

#btns input {
    box-shadow: 3px 3px 7px;

}

.move:hover {
    transition: 600ms;
    box-shadow: 3px 3px 7px red;
}